<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Study Underscore.js</title>
</head>
<body>
<script type="text/javascript" src="assets/lib/underscore-min.js"></script>
<script type="text/javascript">
	(function() {
		var x;
		var user = {
			name: 'taguchi',
			score: 50,
			web: 'http://dotinstall.com/'
		};

		// <%- %> HTML Escape
//		var tpl = "<li><%- name %> (<%- score %>)</li>";

		// <%= %> HTML Escape なし

		// <% %> JavaScriptを実行
		var tpl = "<% alert('hello') %>";

		x = _.template(tpl, user);

		console.log(x);
	})();
</script>
</body>
</html>